@import url("https://fonts.googleapis.com/css?family=Russo+One");
body {
  font-family: Russo One;
}

body {
  user-select: none;
  background-color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  outline: 5px solid silver;
  position: relative;
  width: 660px;
  text-align: center;
  background-color: #f3f3f3;
}
.inner-container .pad-bank {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}
.inner-container .pad-bank .drum-pad {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}
.inner-container .logo {
  position: absolute;
  top: 5px;
  right: 10px;
}
.inner-container .logo .inner-logo {
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.inner-container .controls-container {
  width: 240px;
  height: 272px;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}
.inner-container .controls-container .control {
  width: 100px;
  margin: auto;
}
.inner-container .controls-container .control p {
  margin-bottom: 0;
}
.inner-container .controls-container #display {
  width: 200px;
  background-color: silver;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}

.outer-select, .inner-container .controls-container .control .select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: silver;
}

.inner-select, .inner-container .controls-container .control .select .inner {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}
[type=range] {
  -webkit-appearance: none;
  margin: 12.5px 0;
  width: 100%;
}
[type=range]:focus {
  outline: none;
}
[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: silver;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #cdcdcd;
}
[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: silver;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
}
[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #b3b3b3;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-ms-fill-upper {
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: silver;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
}
[type=range]:focus::-ms-fill-lower {
  background: silver;
}
[type=range]:focus::-ms-fill-upper {
  background: #cdcdcd;
}

/*# sourceMappingURL=index.css.map */
