 <head>
<link rel="stylesheet" type="text/css" href="main.css">
</head> 

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

<nav>
  <ul id='navbar'>
    <li><a href="#welcome-section">About</a></li>
    <li><a href="#projects">Work</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<div id="welcome-section" class="intro">

  <h1>Paul McQuade</h1>
  <p>a web developer</p>


</div>
<div id="projects" class="work">
  <h2 class="work-header">These are some of my projects..</h2>
  <a href="https://codepen.io/paulmcquad/pen/WamJEp" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://codepen.io/paulmcquad/pen/WamJEp/image/large.png" alt="project">
    <div class="project-title">Tribute Page</div>
  </a>
  <a href="https://codepen.io/paulmcquad/pen/MPxGrQ" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/2526599.MPxGrQ.9fcd58fe-9038-4866-8916-f3105e465302.png" alt="project">
    <div class="project-title">Fingal Visitor Survey</div>
  </a>
  <a href="https://codepen.io/paulmcquad/pen/MPxXZN" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://codepen.io/paulmcquad/pen/MPxXZN/image/large.png" alt="project">
    <div class="project-title">Product Landing Page</div>
  </a>
  <a href="https://codepen.io/paulmcquad/pen/ZqZgja" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://codepen.io/paulmcquad/pen/ZqZgja/image/large.png" alt="project">
    <div class="project-title">Technical Document Page</div>
  </a>

  <a href="https://codepen.io/paulmcquad" class="show-all" target="_blank">Show all</a>
</div>
<div id="contact" class="contact">
  <div class="header">
    <h1>Let's work together...</h1>
    <p>How do you take your coffee?</p>
  </div>
  <a href="https://facebook.com/paulmcquad" target="_blank" class="contact-details">Facebook</a>
  <a id='profile-link' href="https://github.com/paulmcquad" target="_blank" class="contact-details">GitHub</a>
  <a href="https://gitlab.com/paulmcquad" target="_blank" class="contact-details">Gitlab</a>
  <a href="https://twitter.com/paulmcquad" target="_blank" class="contact-details">Twitter</a>
  <a href="mailto:paulmcquad@gmail.com" class="contact-details">Email</a>
</div>
<footer>&copy; Copyright 2018 Paul McQuade
  <p>Created for <a href="https://www.freecodecamp.com/" target="_blank">FreeCodeCamp</a></p>
</footer>
